# Metadata ignore

.metadata/.plugins
.metadata/.log

.metadata/.plugins/org.eclipse.jst.j2ee.web
.metadata/.plugins/org.eclipse.ltk.core.refactorings

.metadata/.plugins/org.eclipse.wst.sse.core
.metadata/.plugins/org.eclipse.ltk.core.refactoring





.metadata/.plugins/org.eclipse.jst.j2ee.web/webLibrariesCache.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2016/5/22/refactorings.history




# Metadata unneded files

*.tree
*.fdt
*.fdx
*.fnm
*.frq
*.nrm
*.tii
*.tis
*segments_1


*.log
*savedIndexNames.txt
*.ini

# This lines will be deleted
.metadata/.log
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/version.ini


*.resources
*.xmi
*externalLibsTimeStamps

*.history
*.index
*.snap


.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/P3_Web
*.markers
*.prefs

.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.properties
*.dat
*.xml

.metadata/.plugins/org.eclipse.wst.server.core/tmp0/logs/localhost_access_log.2016-05-31.txt
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/publish.txt

.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/P3_Web/




