# Metadata ignore
.metadata\.mylyn

.metadata\.plugins\org.eclipse.cdt.managedbuilder.core
.metadata\.plugins\org.eclipse.core.resources\.projects\P3_Web
.metadata\.plugins\org.eclipse.core.resources\.root\.indexes
.metadata\.plugins\org.eclipse.debug.core
.metadata\.plugins\org.eclipse.debug.ui
.metadata\.plugins\org.eclipse.dltk.core
.metadata\.plugins\org.eclipse.dltk.core.index.sql.h2
.metadata\.plugins\org.eclipse.debug.ui
.metadata\.plugins\org.eclipse.e4.workbench
.metadata\.plugins\org.eclipse.emf.common.ui




# Metadata files
*.log
*.lock
*.ini
*.version
*.index
*.launch
*.dat
*.xmi

*.markers
*.resources