<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Practica3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Content</display-name>
    <servlet-name>Content</servlet-name>
    <servlet-class>controllers.Content</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Content</servlet-name>
    <url-pattern>/Content</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>formcontroller</display-name>
    <servlet-name>formcontroller</servlet-name>
    <servlet-class>controllers.formcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>formcontroller</servlet-name>
    <url-pattern>/formcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logincontroller</display-name>
    <servlet-name>logincontroller</servlet-name>
    <servlet-class>controllers.logincontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logincontroller</servlet-name>
    <url-pattern>/logincontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>closesession</display-name>
    <servlet-name>closesession</servlet-name>
    <servlet-class>controllers.closesession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>closesession</servlet-name>
    <url-pattern>/closesession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutcontroller</display-name>
    <servlet-name>logoutcontroller</servlet-name>
    <servlet-class>controllers.logoutcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutcontroller</servlet-name>
    <url-pattern>/logoutcontroller</url-pattern>
  </servlet-mapping>
</web-app>